/*
 * for http download (without SSL) use:
 * http://dl.panticz.de/wlyc/wlyc.css
*/

.cmd {
    color: #999999;
    text-align: center;
}

.title {
    width: 70px;
    float: left;
    padding-top: 16px;
    clear: both;
}

img {
    padding: 2px;
}

img:hover {
    opacity: 0.75;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.l {
    float: left;
    text-align: center;
    width: 60px;
    padding-bottom: 8px;
}
